<html>
<head>
  <title>{{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css" />

  <style>
    .selected-item {
      display: inline-flex;
      align-items: center;
      padding: 0.25rem 0.5rem;
      margin: 0.25rem;
      background-color: #f1f1f1;
      border-radius: 0.25rem;
    }

    .selected-item span {
      margin-right: 0.5rem;
    }

    .selected-item i {
      cursor: pointer;
    }

    label.checkbox-inline {
      display: inline-block;
      margin-right: 10px;
    }
  </style>
</head>
<body class="container">
  <div id="header">
    {{body}}
  </div>
  <div id="body">
    <div id="interface" class="pb-3">
      <div class="btn-group" role="group" aria-label="Default button group">
        <a href="/" type="button" class="btn btn-outline-success">Standard Form</a>
        <a href="/natl" type="button" class="btn btn-outline-success">Natural Language</a>
      </div>
    </div>
    <div id="standard-form" class="pt-3 border border-info">
      <form class="row g-3 mx-2" id="my-form" method="POST" action="/search">
        <div class="col-md-6">
          <label for="credits" class="form-label">Number of credits</label>
          <output value="this.textContent">12</output>
          <input type="range" name="credits" value="12" class="form-range" min="9" max="18" id="credits" oninput="this.previousElementSibling.value = this.value">
        </div>
        <div class="col-md-4">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="multiDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <label for="courses" class="form-label">Select Courses</label>
            </button>
            <ul class="dropdown-menu" aria-labelledby="multiDropdown">
              <li><a class="dropdown-item course" href="#" data-value="CPSC">CPSC</a></li>
              <li><a class="dropdown-item course" href="#" data-value="MATH">MATH</a></li>
              <li><a class="dropdown-item course" href="#" data-value="ECON">ECON</a></li>
              <li><a class="dropdown-item course" href="#" data-value="PHYS">PHYS</a></li>
              <li><a class="dropdown-item course" href="#" data-value="BIOL">BIOL</a></li>
            </ul>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Selected Courses</h5>
              <div id="selectedOptions"></div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="multiDropdownYear" data-bs-toggle="dropdown" aria-expanded="false">
              Select Years
            </button>
            <ul class="dropdown-menu" aria-labelledby="multiDropdownYear">
              <li><a class="dropdown-item year" href="#" data-value="1">1</a></li>
              <li><a class="dropdown-item year" href="#" data-value="2">2</a></li>
              <li><a class="dropdown-item year" href="#" data-value="3">3</a></li>
              <li><a class="dropdown-item year" href="#" data-value="4">4</a></li>
            </ul>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Selected Years</h5>
              <div id="selectedOptionsYear"></div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <label for="validationDefault02" class="form-label">Specific Class (Each Classes has to be separated by comma)</label>
          <input type="text" name="specificCourses" class="form-control" id="validationDefault02" value="" placeholder="e.g.: CPCS312, MATH304">
        </div>
        <div class="col-md-2">
          <label for="semester">Select Semester:</label>
          <select class="form-control" id="semester" name="semester">
            <option value="1">Semester 1</option>
            <option value="2">Semester 2</option>
          </select> 
        </div>
        <div class="col-md-2">
          <label for="styles">Delivery Options:</label>
          <div>
            <input class="style" type="checkbox" id="inperson" name="styles" value="inperson" checked>
            <label for="inperson">In-person</label>
          </div>
          <div>
            <input class="style" type="checkbox" id="online" name="styles" value="online" checked>
            <label for="online">Online</label>
          </div>
          <div>
            <input class="style" type="checkbox" id="hybrid" name="styles" value="hybrid" checked>
            <label for="hybrid">Hybrid</label>
          </div>
        </div>
        <div class="col-md-12">
          <label class="form-label">Time slots you don't want to have a class</label>
          <div id="time-slots-container">
            <div class="time-slot row">
              <div class="col-md-2">
                <label for="day-of-week-1">Day of Week</label>
                <select class="form-control day-of-week" id="day-of-week-1" required>
                  <option value="">Select a day</option>
                  <option value="Mon">Monday</option>
                  <option value="Tue">Tuesday</option>
                  <option value="Wed">Wednesday</option>
                  <option value="Thu">Thursday</option>
                  <option value="Fri">Friday</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="start-time">Start Time</label>
                <input type="time" class="form-control start-time" required>
              </div>
              <div class="form-group col-md-4">
                <label for="end-time">End Time</label>
                <input type="time" class="form-control end-time" required>
              </div>
              <button class="btn btn-danger remove-time-slot col-md-1" type="button">Remove</button>
            </div>
          </div>
          <button class="btn btn-primary add-time-slot" type="button">Add Time Slot</button>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
      </form> 
    </div>
    <div id="schedule">
      <div id="schedule-nextbtn" class="d-flex justify-content-start">
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Time Slot</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
          </tr>
        </thead>
        <tbody id="calendar-body">
        </tbody>
      </table>
    </div>
  </div>

  <script>
    // form
    const form = document.querySelector('#my-form');
    form.addEventListener('submit', (event) => {
      // Prevent the default form submission behavior
      event.preventDefault();

      // specific courses
      const specificCourses = document.querySelector('input[name="specificCourses"]').value;
      const specificCourseList = specificCourseParse(specificCourses);
      if (specificCourseList === null) return;
      console.log(specificCourseList);

      // Validation
      if (!validateCourses()) {
        return;
      }
      if (!validateYears()) {
        return;
      }
      if (!validateStyle()) {
        return;
      }

  
      // get the form data as an object
      const formData = new FormData(form);

      let ellist, items;
      // time slots
      elList = document.querySelectorAll('.day-of-week');
      const dayOfWeeks = Array.from(elList).map(item => item.options[item.selectedIndex].value.toLowerCase())
      // formData.append('dayOfWeeks', JSON.stringify(items));
      elList = document.querySelectorAll('.start-time');
      const startTimes = Array.from(elList).map(item => item.value.toLowerCase());
      // formData.append('startTimes', JSON.stringify(startTimes));
      elList = document.querySelectorAll('.end-time');
      const endTimes = Array.from(elList).map(item => item.value.toLowerCase())
      // formData.append('endTimes', JSON.stringify(endTimes));
      
      // add courses
      ellist = document.querySelectorAll('.selected-course');
      const courses = Array.from(ellist).map(item => item.getAttribute('data-value').toLowerCase());
      // formData.append('courses', JSON.stringify(items));

      // add years
      elList = document.querySelectorAll('.selected-year');
      const years = Array.from(elList).map(item => item.getAttribute('data-value').toLowerCase());
      // formData.append('years', JSON.stringify(items));
      
      // add styles
      elList = document.querySelectorAll('.style')
      const styles = Array.from(elList).filter((checkbox) => checkbox.checked).map(item => item.value)

      const data = Object.fromEntries(formData.entries());
      data.courses = courses;
      data.years = years;
      data.dayOfWeeks = dayOfWeeks;
      data.startTimes = startTimes;
      data.endTimes = endTimes;
      data.styles = styles;
      data.specificCourses = specificCourseList;

      console.log(data);
      
      const url = '/search';
      fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data),
      })
      .then(response => response.text())
      .then(data => {
        const json = JSON.parse(data);
        const scheduleList = json.data;
        renderSchedule(scheduleList);
      })
      .catch(error => console.error(error))
    });

    // specific course parsing
    function specificCourseParse(specificCourses) {
      if (specificCourses === '') return [];
      // Split the input into individual courses
      const courses = specificCourses.split(',').map(course => course.trim());
      // console.log(courses);

      // Validate each course and create an object for valid courses
      const courseList = [];
      for (const course of courses) {
        const [courseCode, courseNumber] = course.split(/(\d+)[^\d]*/); // Split course code and number
        // console.log(courseCode, courseNumber);
        if (courseCode && courseNumber && /^[a-z]+\d+$/i.test(courseCode + courseNumber)) {
          courseList.push({ course: courseCode.toLowerCase(), number: courseNumber });
        }
      }
      if (courseList.length != courses.length) {
        alert("Please input the specific class in correct format");
        return null;
      }

      // console.log(courseList); // Output the list of course objects
      return courseList;
    }


    // Add click event listener to dropdown items
    $('.dropdown-item').on('click', function(e) {
      e.preventDefault();
      var selectedValue = $(this).data('value');
      $(this).toggleClass('active');
      let label = $(this).parent().parent().attr("aria-labelledby");
      updateSelectedOptions(label);
    });

    // Add click event listener to cancel icons
    $('#selectedOptions').on('click', '.cancel-icon', function() {
      var selectedValue = $(this).closest('.selected-item').data('value');
      $('[data-value="' + selectedValue + '"]').removeClass('active');
      let label = $('[data-value="' + selectedValue + '"]').parent().parent().attr("aria-labelledby");
      updateSelectedOptions(label);
    });
    $('#selectedOptionsYear').on('click', '.cancel-icon', function() {
      var selectedValue = $(this).closest('.selected-item').data('value');
      $('[data-value="' + selectedValue + '"]').removeClass('active');
      let label = $('[data-value="' + selectedValue + '"]').parent().parent().attr("aria-labelledby");
      updateSelectedOptions(label);
    });

    // Update selected options in card text
    function updateSelectedOptions(label) {
      var selectedValues = [];
      if (label === "multiDropdownYear") {
        $('.dropdown-item.year.active').each(function() {
          selectedValues.push($(this).data('value'));
        });
      } else {
        $('.dropdown-item.course.active').each(function() {
          selectedValues.push($(this).data('value'));
        });
      }
    
      const selectedOptions = (label === "multiDropdownYear") ? '#selectedOptionsYear' : '#selectedOptions';
      const name = (label === "multiDropdownYear") ? 'year' : 'course';
      var $selectedOptionsContainer = $(selectedOptions);
      $selectedOptionsContainer.empty();
      if (selectedValues.length > 0) {
        $.each(selectedValues, function(index, value) {
          var $selectedItem = $('<div>', {class: `selected-item selected-${name}`, 'data-value': value}).appendTo($selectedOptionsContainer);
          $('<span>', {text: value}).appendTo($selectedItem);
          $('<i>', {class: 'bi bi-x-circle cancel-icon'}).appendTo($selectedItem);
        });
      } else {
        $selectedOptionsContainer.html('<p>No options selected.</p>');
      }
    }

    // Add Time Slot button
    const addTimeSlotBtn = document.querySelector('.add-time-slot');
    addTimeSlotBtn.addEventListener('click', addTimeSlot);

    // Remove Time Slot button
    document.addEventListener('click', function(event) {
      if (event.target && event.target.classList.contains('remove-time-slot')) {
        const timeSlot = event.target.closest('.time-slot');
        timeSlot.remove();
      }
    });

    function addTimeSlot() {
      const timeSlotsContainer = document.getElementById('time-slots-container');
      
      // Create new time slot
      const newTimeSlot = document.createElement('div');
      newTimeSlot.classList.add('time-slot');
      newTimeSlot.classList.add('row');
      
      // Add day of week form field
      const dayOfWeekGroup = document.createElement('div');
      dayOfWeekGroup.classList.add('col-md-2');
      
      const dayOfWeekLabel = document.createElement('label');
      dayOfWeekLabel.textContent = 'Day of Week'
      dayOfWeekLabel.setAttribute('for', 'day-of-week-1');

      const dayOfWeekSelect = document.createElement('select');
      dayOfWeekSelect.setAttribute('id', 'day-of-week-1');
      // dayOfWeekSelect.setAttribute('name', 'day-of-week[]');
      dayOfWeekSelect.classList.add('form-control', 'day-of-week');
      dayOfWeekSelect.setAttribute('required', '');

      const dayOfWeekOption = document.createElement('option');
      dayOfWeekOption.textContent = 'Select a day'
      dayOfWeekOption.setAttribute('value', '');
      const dayOfWeekMonday = document.createElement('option');
      dayOfWeekMonday.textContent = 'Monday'
      dayOfWeekMonday.setAttribute('value', 'Mon');
      const dayOfWeekTuesday = document.createElement('option');
      dayOfWeekTuesday.textContent = 'Tuesday'
      dayOfWeekTuesday.setAttribute('value', 'Tue');
      const dayOfWeekWednesday = document.createElement('option');
      dayOfWeekWednesday.textContent = 'Wednesday'
      dayOfWeekWednesday.setAttribute('value', 'Wed');
      const dayOfWeekThursday = document.createElement('option');
      dayOfWeekThursday.textContent = 'Thursday'
      dayOfWeekThursday.setAttribute('value', 'Thu');
      const dayOfWeekFriday = document.createElement('option');
      dayOfWeekFriday.textContent = 'Friday'
      dayOfWeekFriday.setAttribute('value', 'Fri');
      dayOfWeekSelect.appendChild(dayOfWeekOption);
      dayOfWeekSelect.appendChild(dayOfWeekMonday);
      dayOfWeekSelect.appendChild(dayOfWeekTuesday);
      dayOfWeekSelect.appendChild(dayOfWeekWednesday);
      dayOfWeekSelect.appendChild(dayOfWeekThursday);
      dayOfWeekSelect.appendChild(dayOfWeekFriday);
      
      dayOfWeekGroup.appendChild(dayOfWeekLabel);
      dayOfWeekGroup.appendChild(dayOfWeekSelect);

      
      // Add start time form field
      const startTimeGroup = document.createElement('div');
      startTimeGroup.classList.add('form-group');
      startTimeGroup.classList.add('col-md-4');
      
      const startTimeLabel = document.createElement('label');
      startTimeLabel.textContent = 'Start Time';
      startTimeLabel.setAttribute('for', 'start-time');
      
      const startTimeInput = document.createElement('input');
      startTimeInput.setAttribute('type', 'time');
      startTimeInput.classList.add('form-control', 'start-time');
      // startTimeInput.setAttribute('name', 'start-time[]');
      startTimeInput.setAttribute('required', '');
      
      startTimeGroup.appendChild(startTimeLabel);
      startTimeGroup.appendChild(startTimeInput);
      
      // Add end time form field
      const endTimeGroup = document.createElement('div');
      endTimeGroup.classList.add('form-group');
      endTimeGroup.classList.add('col-md-4');
      
      const endTimeLabel = document.createElement('label');
      endTimeLabel.textContent = 'End Time';
      endTimeLabel.setAttribute('for', 'end-time');
      
      const endTimeInput = document.createElement('input');
      endTimeInput.setAttribute('type', 'time');
      endTimeInput.classList.add('form-control', 'end-time');
      // endTimeInput.setAttribute('name', 'end-time[]');
      endTimeInput.setAttribute('required', '');
      
      endTimeGroup.appendChild(endTimeLabel);
      endTimeGroup.appendChild(endTimeInput);
      
      // Add remove button
      const removeBtn = document.createElement('button');
      removeBtn.classList.add('btn', 'btn-danger', 'remove-time-slot', 'col-md-1');
      removeBtn.setAttribute('type', 'button');
      removeBtn.textContent = 'Remove';
      
      // Add form fields and remove button to time slot
      newTimeSlot.appendChild(dayOfWeekGroup);
      newTimeSlot.appendChild(startTimeGroup);
      newTimeSlot.appendChild(endTimeGroup);
      newTimeSlot.appendChild(removeBtn);
      
      // Add time slot to container
      timeSlotsContainer.appendChild(newTimeSlot);
    }

    function validateCourses() {
      var courses = document.getElementsByClassName("course");
      var selected = false;
      for (var i = 0; i < courses.length; i++) {
          if (courses[i].classList.contains("active")) {
              selected = true;
              break;
          }
      }
      if (!selected) {
          alert("Please select at least one course.");
          return false;
      }
      return true;
    }
    function validateYears() {
      var years = document.getElementsByClassName("year");
      var selected = false;
      for (var i = 0; i < years.length; i++) {
          if (years[i].classList.contains("active")) {
              selected = true;
              break;
          }
      }
      if (!selected) {
          alert("Please select at least one year.");
          return false;
      }
      return true;
    }
    function validateStyle() {
      var deliveryInputs = document.getElementsByName("styles");
      var deliverySelected = false;
      for (var i = 0; i < deliveryInputs.length; i++) {
        if (deliveryInputs[i].checked) {
          deliverySelected = true;
          break;
        }
      }
      if (!deliverySelected) {
        alert("Please select at least one delivery option.");
        return false;
      }
      return true;
    }

    // create weekly calender
    // Set start and end time
    const startTime = "08:00";
    const endTime = "20:00";

    // Generate time slots
    const timeSlots = [];
    let time = new Date(`1970-01-01T${startTime}:00`);
    const end = new Date(`1970-01-01T${endTime}:00`);
    while (time <= end) {
      timeSlots.push(`${time.getHours().toString().padStart(2, "0")}:${time.getMinutes().toString().padStart(2, "0")}`);
      time = new Date(time.getTime() + 30 * 60 * 1000); // add 30 minutes
    }

    // Generate calendar rows
    const calendarRows = timeSlots.map(timeSlot => {
      return `
        <tr>
          <td>${timeSlot}</td>
          <td class="schedule-cell" id="mon-${timeSlot}"></td>
          <td class="schedule-cell" id="tue-${timeSlot}"></td>
          <td class="schedule-cell" id="wed-${timeSlot}"></td>
          <td class="schedule-cell" id="thu-${timeSlot}"></td>
          <td class="schedule-cell" id="fri-${timeSlot}"></td>
        </tr>
      `;
    });

    // Add calendar rows to table body
    $("#calendar-body").html(calendarRows.join(""));

    // render schedule
    /**
      {
      "course":"cpsc",
      "dayofweeks": ["tue", "thu" ],
      "end":"11:0",
      "number":103,
      "section":101,
      "start":"9:30"
          }*/
    function renderSchedule(scheduleList) {
      // clear everything
      // Clear previous schedule
      document.querySelectorAll('td.schedule-cell').forEach(cell => {
        cell.textContent = '';
      });
      // remove previous
      const btn = document.querySelector('#schedule-nextbtn').querySelector('button');
      if (btn !== null) {
        document.querySelector('#schedule-nextbtn').removeChild(btn);
        const p = document.querySelector('#schedule-nextbtn').querySelector('p');
        document.querySelector('#schedule-nextbtn').removeChild(p);
      }


      if (scheduleList.length == 0) {
        return;
      }
    
      let currentScheduleIndex = 0;
      let currentSchedule = scheduleList[currentScheduleIndex];
      
      // Generate time slots
      currentSchedule.forEach(section => {
        const timeSlots = [];
        let [hour, minute] = section.start.split(":").map(Number);
        let time = new Date();
        time.setHours(hour);
        time.setMinutes(minute);
        [hour, minute] = section.end.split(":").map(Number);
        const end = new Date();
        end.setHours(hour);
        end.setMinutes(minute);
    
        while (time < end) {
          timeSlots.push(`${time.getHours().toString().padStart(2, "0")}:${time.getMinutes().toString().padStart(2, "0")}`);
          time = new Date(time.getTime() + 30 * 60 * 1000); // add 30 minutes
        }
    
        timeSlots.forEach(timeSlot => {
          section.dayofweeks.forEach(day => {
            const rowId = `${day}-${timeSlot}`;
            const rowItem = document.getElementById(rowId);
            rowItem.textContent = `${section.course.toUpperCase()}${section.number} - ${section.section}`;
          })
        });
      })
    
      const nextButton = document.createElement('button');
      nextButton.classList.add('btn');
      nextButton.classList.add('btn-success');
      nextButton.textContent = 'Next';
      nextButton.addEventListener('click', () => {
        currentScheduleIndex = (currentScheduleIndex + 1) % scheduleList.length;
        currentSchedule = scheduleList[currentScheduleIndex];
    
        // Clear previous schedule
        document.querySelectorAll('td.schedule-cell').forEach(cell => {
          cell.textContent = '';
        })
    
        // Render new schedule
        currentSchedule.forEach(section => {
          const timeSlots = [];
          let [hour, minute] = section.start.split(":").map(Number);
          let time = new Date();
          time.setHours(hour);
          time.setMinutes(minute);
          [hour, minute] = section.end.split(":").map(Number);
          const end = new Date();
          end.setHours(hour);
          end.setMinutes(minute);
    
          while (time < end) {
            timeSlots.push(`${time.getHours().toString().padStart(2, "0")}:${time.getMinutes().toString().padStart(2, "0")}`);
            time = new Date(time.getTime() + 30 * 60 * 1000); // add 30 minutes
          }
    
          timeSlots.forEach(timeSlot => {
            section.dayofweeks.forEach(day => {
              const rowId = `${day}-${timeSlot}`;
              const rowItem = document.getElementById(rowId);
              rowItem.textContent = `${section.course.toUpperCase()}${section.number} - ${section.section}`;
            })
          });
        })
        // remove previous
        const p = document.querySelector('#schedule-nextbtn').querySelector('p');
        document.querySelector('#schedule-nextbtn').removeChild(p);
        // add 
        const idx = document.createElement('p');
        idx.textContent = `Schedule No.${currentScheduleIndex + 1}`
        document.querySelector('#schedule-nextbtn').appendChild(idx);
      });
    
      document.querySelector('#schedule-nextbtn').appendChild(nextButton);
      const idx = document.createElement('p');
      idx.textContent = `Schedule No.${currentScheduleIndex + 1}`
      document.querySelector('#schedule-nextbtn').appendChild(idx);
    }
    
  </script>
</body>
</html>